@import "tailwindcss";

@theme {
  --font-sans: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --color-primary: #64C5E3;
  --color-secondary: #ffffff;
  --color-dark: #2D3436;
  --color-bg: #F0F9FF;
  --color-text: #1E272E;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
